#blue{
    background-color: blue; 
    color: #000000;
    background-image: url("bg001.jpeg"); 

  
}



#red1{
    background-color: rgb(192, 20, 20);
}

#red{
    background-color: rgb(255, 255, 255);
}

#yellow{
    background-color: rgb(243, 220, 10);
}



#yellow1{
    background-color: rgb(255, 255, 255);
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0px 5px 10px 0px rgba(149, 148, 148, 0.5);
}


#blue1{
    height: 900px;
    background-color: rgb(255, 255, 255);  
    color: #000000;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto; 
    box-shadow: 0px 5px 10px 0px rgba(149, 148, 148, 0.5);
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
    
    /* background-size: 100% 190px;
    background-repeat: no-repeat;  */

    /* background-image: url("bgResto.jpeg"); */
    /* height: 170px; */
    
}

.info1{
       background-image: url("bg001.jpeg"); 
       background-size: 100% 190px;
       background-repeat: no-repeat; 
         /* height: 170px;  */
}

#bgImg{
    color: #ffffff;
    background-image: url("bgResto.jpeg");
    width: 100%;

}
#map {
    height: 900px;
    width: 100%;

  }









#searchBar
{
width: 110%;
height: 50px;
margin-top: 10px;
margin-left: -5%;
border-radius: 30px; 
border: 4px solid white;
text-indent: 30px;


}





