// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

#lightBlue {
    background-color: #7EA1D2;
    color: white;
    border: none; 
    font-family: 'DM Sans', sans-serif;  
    // margin-left: -1200px;   
    // margin-right: 100px;  
}

#lightBlue1 {
    background-color: #7EA1D2;
    color: white;
    border: none; 
    font-family: 'DM Sans', sans-serif;  
    margin-left: -1200px;  
    // position: absolute;
    // margin-top: -300px; 
    // margin-right: 100px;  
}


#newBlue {
    background-color: #4870c6;
    color: white;
    border: none; 
    font-family: 'DM Sans', sans-serif;     
}

// #Navbar2
// {
//     background-color: blue;
// }

#darkBlue {
    background-color: #6766E0;
    color: white;
    border: none; 
    font-family: 'DM Sans', sans-serif; 
    // margin-left: -1000px;      
}

#lightPink {
    background-color: #F2535A;
    color: white;
    border: none;      
    font-family: 'DM Sans', sans-serif;
    // margin-left: -800px;   
}

#pink{
    background-color:#FF8989;

}

#pinkPicture
{
    width:700px;
    height: auto;
    margin-top: -100px;
}

#textColor
{
    color: #FFEBDE;
    font-size: 55px;
    font-family: 'League Spartan', sans-serif;
    
    
    
}
#white{
    color: #ffffff;
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
}
#textColor2
{
    color: #FFEBDE;
    font-size: 55px;
    font-family: 'League Spartan', sans-serif;
    text-align: center;
    
    
}

#space11{
    line-height: 8;
}
#foodExplorer{
    color: #55358A ;
    font-family: 'Caprasimo', cursive;
    /* padding: 4px; */
    /* margin-left: 1100px;     */
    position: absolute;
    left: 90%;
    top: 15%;


}



#foodTop
{
    margin-left: 5%;
    width: 90%;
    height: 400px;  
}
.button{
    margin-right: 40px;
    width: 145px;
    height: 60px;
    border-radius: 40px;
}

#beige{
    background-color:#FFEBDE;

}

#foodName
{
    font-family: 'Fasthand', cursive;
    font-size: 70px;
    width: 100px;
    margin-top: 10%;
    margin-left: 40%;

    
    white-space: nowrap;
}


#forkKnifePic
{
    font-family: 'Cormorant Garamond', serif;
    width:60px;
    height: 60px;
    margin-left: 30%;  

}
#forkKnife
{
    font-family: 'Cormorant Garamond', serif;
    width:70px;
    height: 60px;
    margin-left: 25%;  
    font-size: 28px;
    margin-top: -2px;
}

#adjMinutes{
font-family: 'Cormorant Garamond', serif;
margin-top: 45px;
margin-right: 25%;
width:70px;
height: 60px;
font-size: 26px;


}


.vl {
    border-left: 2px solid #000000;
    color: #F2535A;
    height: 100%;
    margin-left: 50%;
  }

#navColor
{
   background-color: #7EA1D2;
}




#recipeBook
{
    font-family: 'Playfair Display', serif;
}




#headers{
    font-size: 27px;

}

#recipeResult1
{
    font-size: 22px;



}


#look{
    height: 60px;
    width: 250px ;
    margin-top: 12px;
    border-radius: 40px;
    text-indent: 20px;
   
}

#search{

    width:30px;
    height: 30px;
}



#guyPicture
{
    height: 350px;
    width: 350 px;
    margin-left: -80%;




} 


  

  footer{

    height: 100px;


}  


#iputName
{
    height: 60px;
    width: 300px;
    border-radius: 20px;
    text-indent: 20px;
}


#inputEmail
{
    height: 60px;
    width: 300px;
    border-radius: 20px;
    text-indent: 20px;
}


#inputInquiry
{
    height: 175px;
    width: 283px;
    border-radius: 20px;
    text-indent: 20px;
}

.fakeBg
{
    background-image: url('./test2.png');
    background-size: cover;
    background-position: center;   
}


#us
{
    color: #FDFAF9;
    text-indent: -150px;
    font-family: 'Bebas Neue', sans-serif;
}
#us2
{


    font-family: 'Bebas Neue', sans-serif;
}
#lnkPic
{
    height: 90px;
    width: 90px;
    margin-bottom: -95%;

}

#footcolor{

    background-color: #F2535A;
}

#bu2
{
    margin-top: -9%;
    margin-left: 62%;
    width: 220px;

}


#profileSize
{
    margin-left: 80px; 

    width: 240px;
    height: 240px ;
    /* border-radius: 90% */
/* border-radius: 90%; */
}


#profileSize2
{
    margin-left: 80px; 
    margin-top: -7%; 
    width: 240px;
    height: 240px ;
    /* border-radius: 90% */
/* border-radius: 90%; */
}


#profileSize3
{
    margin-left: 180px; 
    margin-top: 15%; 
    width: 240px;
    height: 240px ;
    margin-right: -35%;
    /* border-radius: 90% */
/* border-radius: 90%; */
}

#profileSize4
{
    margin-left: -900px; 
    margin-top: 11%; 
    margin-left: -35%;
    width: 240px;
    height: 240px ;
    /* border-radius: 90% */
/* border-radius: 90%; */
}

/*
.fakeBg2
{
    background-image: url('whiteBg.png');
    background-size: cover;
    background-position: center;    
  
}
*/

/*
.fakeBg3
{
    background-image: url('resto1.jpeg');
    background-size: cover;
    background-position: center;    
  
}
*/

#brown
{
    background-color:#FDFAF9;
}

#rest1
{
    width: 350px;
    height: 350px;
}

#rest2
{
    width: 290px;
    height: 290px;
}

#rest3
{
    width: 350px;
    height: 350px;
}

#cen{
    margin-left: 40%;
}

#black{
    color: #000;
}


#center1{
    text-align: center;
    align-items: center;
}

/*
#center2{
 margin-top: -380px; 

}
*/

#tomato{
    margin-top: -1000px;
    width: 650px;
    margin-left: 900px;

}

#center3{
    margin-top: 200px;
    margin-left: -450px;
    width: 700px;
    }

#about{
    margin-left: -590px;
    margin-top: 150px;
    width: 1000px;
}

#profileText
{
    font-family: 'Roboto Condensed', sans-serif;  
    font-size: 10px;
}

#pink1
{
    background-color:  #FFEBDE; 
}



.fakeBg4
{
    background-color: aliceblue;
    /* align-items: center; */
      /* margin-right: 500px; 
     margin-top: 190px;
    margin-left: -500px;     */
    /* background-image: url('whiteBackg.png');
    background-size: cover; 
    width: 1000px;   */
 

}

//google username and pic

#user-photo {
    width: 5%;
    height: 5%;
    border-radius: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

//** Start _Nav bar  buttons display on all screen sizes */
.navbar-nav {
    display:flex;
    width: auto;
    padding-left: 10%;
    margin-bottom:0;
    list-style:none
}
.collapse {
    &:not(.show) {
    display: block;  //none
    }
}
.navbar-collapse {
    // For always expanded or extra full navbars, ensure content aligns itself
    // properly vertically. Can be easily overridden with flex utilities.
    align-items: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 575px)  {
    // .navbar-nav :not(#dup_nav_navbar) {
    //     flex-direction: column;
    // }
    #meal.col{
        padding-left: 0%;
    }
    #pinkPicture {
        width: 500px;
        margin-top: 0px;
    }
    .navbar-nav {
        display:flex;
        flex-direction: column;
        width: auto;
        padding-left: 10%;
        margin-bottom:0;
        list-style:none
    }
    .collapse {
        &:not(.show) {
        display: contents;  //none
        }
    } 
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
    #pinkPicture {
        width: 550px;
        margin-top: 0px;
    }
    .navbar-collapse {
        // For always expanded or extra full navbars, ensure content aligns itself
        // properly vertically. Can be easily overridden with flex utilities.
        align-items: center;
    }
    .navbar-nav {
        display:flex;
        flex-direction: column;
        width: auto;
        padding-left: 10%;
        margin-bottom:0;
        list-style:none
    }
    .collapse {
        &:not(.show) {
        display: contents;  //none
        }
    }
} 
/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    .fade {
        //@include transition($transition-fade); //OC
        
            &:not(.show) {
            opacity: 1;  // 0
            }
        }
        
        // scss-docs-start collapse-classes
        .collapse {
            &:not(.show) {
            display: block;  //none
            }
        }
        
        .collapsing {
            height: auto; //0
            overflow: auto; //hidden
            //@include transition($transition-collapse); //OC
        
            &.collapse-horizontal {
            width: auto; //0
            height: auto;
           // @include transition($transition-collapse-width); //OC
            }
        }
        .navbar-nav {
            display:flex;
            flex-direction: row;
            width: auto;
            padding-left: 10%;
            margin-bottom:0;
            list-style:none
        }
      // scss-docs-end collapse-classes
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .navbar-nav {
        display:flex;
        flex-direction: row;
        width: auto;
        padding-left: 10%;
        margin-bottom:0;
        list-style:none
    }
} 
/* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {
//     #meal  {
//         margin-top: 0%;
//         // margin-bottom: 7%;
//         }
// }
//** End _Nav bar  buttons display on all screen sizes */












// layout css
#blue{
    background-color: blue; 
    color: #000000;
    background-image: url("bg001.jpeg"); 

  
}



#red1{
    background-color: rgb(192, 20, 20);
}

#red{
    background-color: rgb(255, 255, 255);
}

#yellow{
    background-color: rgb(243, 220, 10);
}



#yellow1{
    background-color: rgb(255, 255, 255);
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0px 5px 10px 0px rgba(149, 148, 148, 0.5);
}


#blue1{
    height: 900px;
    background-color: rgb(255, 255, 255);  
    color: #000000;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto; 
    box-shadow: 0px 5px 10px 0px rgba(149, 148, 148, 0.5);
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
    
    /* background-size: 100% 190px;
    background-repeat: no-repeat;  */

    /* background-image: url("bgResto.jpeg"); */
    /* height: 170px; */
    
}

.info1{
       background-image: url("bg001.jpeg"); 
       background-size: 100% 190px;
       background-repeat: no-repeat; 
         /* height: 170px;  */
}

#bgImg{
    color: #ffffff;
    background-image: url("bgResto.jpeg");
    width: 100%;

}
#map {
    height: 1000px;
    width: 100%;

  }









#searchBar
{
width: 110%;
height: 50px;
margin-top: 10px;
margin-left: -5%;
border-radius: 30px; 
border: 4px solid white;
text-indent: 30px;


}



// placeinformation.css
#restaurantName{
    margin-top: -25px;
    font-size: 20px;
    /* margin-left: -100px ; */
    text-align: left;
 }
 
 #restaurantScore
 {
     font-size: 14px;
     text-align: left;
     margin-top: -20px;
     color: rgb(155, 155, 158);
 
 }
 #restaurantType
 {
     font-size: 13px;
     text-align: left;
     /* margin-bottom: -30px; */
     margin-bottom: 10px;
     color: rgb(155, 155, 158);
 
 }
 
 #button1
 {
     width: 120px;
     height: 50px;
 
     border-color: rgb(255, 255, 255);
 
 
 }
 #button2
 {
     width: 120px;
     height: 50px;
 }
 
 #search
 {
     width: 35px;
     height: 35px;
     margin-top: -80px;
     margin-left: 240px;
 }
 
 
 .image-container {
     display: flex; 
     margin-top: -61px; 
     margin-left: 30px; 
 
 }
 
 .image-box {
     margin: 5px;
 
 }
 
 
 
 /* #topnav
 {
 background-color: rgb(71, 131, 228);
 }  */
 
 
   .topnav a.active {
     border-bottom: 3px solid rgb(103, 127, 250);
    
   }
   
 
 
 #Overview
 {
     margin-right: 160px; 
     /* text-align: start; */
     font-size: 15px;
    position: absolute; 
    left: 25px;
    top: -24px;
     text-decoration: none;

 }


 #reviews
 {
    color: rgb(164, 166, 167);
    font-size: 15px;
    // text-align: left; 
    position: absolute; 
    text-decoration: none;
    left: 250px;
    top: -23px;

 }


 #Overview1
 {
     /* margin-left: -89%; 
     margin-right: 150px;  
     text-align: start;
     font-size: 15px;
     position: fixed; */
 
     margin-right: 160px; 
     /* text-align: start; */
     font-size: 15px;
  
     /* position: fixed; */
 }

 #reviews1
 {
    /* color: rgb(164, 166, 167);
    font-size: 15px;
    text-align: left;  */
    /* margin-left: 5px; */
    /* position: fixed; */
    color: rgb(164, 166, 167);
    font-size: 15px;
    text-align: left; 
 }
 
 #greyLine
 {
     margin-top: 1px;
     width: 3000px;
      margin-left: -200px;
      box-shadow: 0px 5px 10px 0px rgba(149, 148, 148, 0.5);
     /* margin-right: auto;  */
 }
 
 .greyLine
 {
     margin-top: 1px;
     width: 186%;
      margin-left: -200px;
      box-shadow: 0px 5px 10px 0px rgba(149, 148, 148, 0.5);
     /* margin-right: auto;  */
 }
 
 #describe
 {
     font-size: 13px;
     text-indent: -20px;
  
 }
 
 #describe1
 {
     margin-top: -12px;
     font-size: 13px;
     text-indent: -25px;
 }
 
 
 #describe2
 {
     margin-top: 15px;
     font-size: 13px;
     text-indent: -59%;
 }
 
 #describeA
 {
     font-size: 13px;
     text-indent: 5px;
  
 }
 
 #describeB
 {
     margin-top: -12px;
     font-size: 13px;
     text-indent: 5px;
 }
 
 
 #describeC
 {
     margin-top: 15px;
     font-size: 13px;
     text-indent: -40%;
 }
 
 #address
 {
     margin-top: -42px;
     font-size: 13px;
     /* text-indent: -2%;  */
     text-align: left;
     margin-left: 30px;
 }
 
 #website
 {
     margin-top: -22px;
     font-size: 13px;
     /* text-indent: -7%;  */
     text-align: left;
     margin-left: 30px;
 }
 
 #pin
 {
     width: 30px;
     height: 30px;
     margin-top: -50px;
     margin-left: -105%;
 }
 
 #link
 {
     width: 30px;
     height: 30px;
     margin-top: 30px;
     margin-left: -105%; 
     /* text-align: left; */
 }
 
 #time
 {
     width: 35px;
     height: 35px;
     /* margin-top: -120px; */
     margin-left: -105%;
 }
 
 
 #pinA
 {
     width: 33px;
     height: 33px;
     margin-top: -50px;
     margin-left: -95%;
 }
 
 #linkB
 {
     width: 30px;
     height: 30px;
     margin-top: 30px;
     margin-left: -95%;
     /* text-align: left; */
 }
 
 #timeC
 {
     width: 35px;
     height: 35px;
     /* margin-top: -120px; */
     margin-left: -95%;
 }
 
 
 
 #recipe1
 {
 
     width: 3000px;
     margin-left: -200px;
     box-shadow: 0px 5px 10px 0px rgba(149, 148, 148, 0.5);
 }
 
 
 
 #shadowTest1
 {
     box-shadow: 0px 5px 10px 0px rgba(149, 148, 148, 0.5);
 }
 
 #recipePic
 {
     width: 275px;
     height: 165px;
     margin-top: -5px;
     margin-left: -5px;
 
 }
 
 #RecipeName
 {
     font-size: 15px;
     /* margin-left: -60%; */
     text-align: center;
     margin-top: 15px;
 }
 
 #instruction
 {
     font-size: 13px;
     text-align: left;
     margin-bottom: 45px;
 }
 
 #btnRecipe
 {
 background-color: white;
   color: #3f54d9;
   border: 2px solid #3f54d9;
   border-radius: 25px;
   width: 300px;
   height: 45px;
   margin-left: -13px;
 
 
 
 }
 
 
 .hiddenimg {
     display: none;
   }
   
 
 .hiddentxt:hover ~ .hiddenimg {
     display: block;
     position: absolute;
   
   }
 
 
 #OpeningHours
 {
     text-align: left;
     font-size: 13px;
     margin-left: 30px;
     margin-top: -30px;
 
 
 }
   
 
 .image-container {
     display: flex; 
 }
 
 .image-box {
     margin: 5px;
 
 }
 
 /* #starRate
 {
     display: flex;
 } */
 
 
 
 #author
 {
     font-size: 16px;
     text-align: left;
 }
 
 
  #rating
 {
     font-size: 12px;
     margin-top: 45px;
 } 
 
 #visited
 {
     font-size: 12px;
     text-align: left;
     color: #a0a0a0;
 }
 
 
 #review
 {
     font-size: 12px;
     text-align: left;
     margin-bottom: 20px; 
 }
 
 #rate1
 {
     font-size: 90px;
     margin-top: 45px;
     margin-bottom: 110px; 
     color: rgb(0, 0, 0);
 }



